* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto
}

header {
    margin: 2rem auto;
    border: 2px solid #f0f8ff;
    padding: .6rem;
    background-color: #000080;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

header img{
    width: 100%;
    height: auto;
}