* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto
}

header {
    margin: 1rem auto;
    border: 1px solid #f0f8ff;
    padding: .5rem;
    background-color: #4acfee;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}
 img{
    width: 100px;
    height: auto;
    float: left;
}
span{
    font-weight: 700;
}
#currentdate {
    color:rgb(50,50,250,1);
}