* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

header, main, footer {
    max-width: 600px;
    margin: 0 auto
}

header, footer {
    background-color: rgb(170, 36, 36);
    color: white;
    padding: 5px;
    text-align: center;
}
 img{
    width: 100px;
    height: 90px;
    float: left;
    object-fit: cover;
}



li {
    padding: 2px;
    margin-right: 20px;
}

ul{
    margin-left: 35px;
}



#currentdate {
    color:rgb(246, 246, 252);
}






