

@media only screen and (min-width: 60em) {
	h1 {
		font-size: 2rem;
	}
	
	main{
        display: grid;
		grid-template-columns: 1fr 1fr 1fr;	   
	}

    article:nth-child(3){
        grid-column: span 1;
    }

    footer p{
        text-align: center;
    }
	
}