@media only screen and (min-width: 37.5em){
    main{
        
    grid-template-columns: 1fr 1fr;
    }

    h2{
        background-color: rgba(170, 36, 36);
        font-size: 23px;
    }

    header{
        background-color: rgba(170, 36, 36);
    }

    h1{
        font-size: 37px;
        line-height: 1.2em;
    }

    

    footer{
        background-color: rgba(170, 36, 36);
    }
    
    footer{
        font-size: 17px;
    }
    

    p{
        font-size: 20px;
    }

    header, footer, .white-space{
        border: 1px solid #333;
        box-shadow: 0 0 10px #000;}
}

.contrast{
    display: block;
}

.repetition {
    grid-column: span 2;
}