

header{
    display: block;
    text-align: center;
    justify-content: center;
    background-color: rgba(170, 36, 36);
    color: white;
    border-radius: 10px 10px;
    margin: 10px;
    padding: 1em;
}

h1{
    font-size: 30px;
    line-height: 1.2em;
}

h2{
    font-size: 20px;
}


main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
    max-width: 100%;
    margin: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    
    
}

h2 {
    display: block;
    border-radius: 10px 10px;
}



 img{
    max-width: 100%;
    margin-top: 3%;
    padding-left: 5rem;
}

h1, h2 {
    font-family:'Open Sans', sans-serif;
    padding: 8px;
    text-align: center;
}

h2{
    background-color: rgba(170, 36, 36);
    color:white;
    font-size: 17px;
    padding: 1em;

}

p{
    font-size: 16px;
    line-height: 1.2em;
    
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: rgba(170, 36, 36);
    color:white;
    border-radius: 10px 10px;
    margin: 10px;
    padding: 1em;
}

.footer-paragraph{
    grid-column: 1/4;
    text-align: center;
    margin: auto;
    font-size: 15px;
}

header, footer, .white-space, .contrast, .repetition {
    border: 1px solid #333;
    box-shadow: 0 0 10px #000;}

  

