
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: "Sansita", Ubuntu, sans-serif;
}

header, footer{
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    padding: .75rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(170, 36, 36);
    color: white;
    
}

header, .wrap, footer{
    max-width: 767px;
    margin: 0 auto;
}

h1{
    font-size: 1.1rem;
}

h2{
    font-size: 20px;
}


main{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    font-family: 'Source Sans Pro', sans-serif;  
}

main article{
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

footer p{
    padding: .5rem;
    align-items: center;
    text-align: center;
}

h2 {
    display: block;
    border-radius: 10px 10px;
}



 img{
    max-width:80%;
    margin-top: 3%;
    
}

h1, h2 {
    font-family:'Open Sans', sans-serif;
    padding: 8px;
    text-align: center;
}

h2{
    background-color: rgba(170, 36, 36);
    color:white;
    font-size: 17px;
    padding: 1em;

}

p{
    font-size: 16px;
    line-height: 1.2em;
    
}





article{
    border: 1px solid #333;
    box-shadow: 0 0 10px #000;}

  

