


header, footer, h2 {
	font-size: 18px;
    font-family: 'Bebas Neue', cursive;
}


header,
footer {
	background-color: #ff8c00;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	padding: 5px 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: black;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-left: 38rem;
	
}

.social svg {
	width: 25px;
	height: auto;
}

.spot1, .spot2, .spot3 {
	border: 1px solid rgba(0, 0, 0, 0.1);
	justify-items: center;
	text-align: center;
}


header,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1 {
	font-size: 1.1rem;
  text-align: center;
}
h2 {
	color: #536878;
}


.wrap {
	display: grid;
	font-size: 0.8rem;
}
main article {
	margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #eee;
}


footer p {
	padding: .5rem;
}

.current-date {
	margin: 0.5rem;
	border: 1px solid orange;
	padding: 0.75rem;
	background-color: orange;
}

a{
    text-decoration: none;
    padding: 1em;
}


nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 1.6rem;
    color: red;
}
nav{
    background-color: #ff8c00;
    border-radius: 0 0 10px 10px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
}

nav ul li.active a{
    background-color: rgba(0, 0, 0, 0.2);
    color: whitesmoke;
}

nav ul li a:hover{
    background-color: red;
    color: black;
}

nav ul{
    display: none;
}

nav ul.open{
    display: block;
}

#hamburgerBtn span:nth-child(1){
    display: block;
}

#hamburgerBtn span:nth-child(2){
    display: none;
}

#hamburgerBtn.open span:nth-child(1){
    display: none;
}

#hamburgerBtn.open span:nth-child(2){
    display: block;
}

.content-main{
    margin: 1rem;
    display: block;
}

.hero:hover, .news:hover, .event:hover, .weather:hover, .join:hover, .spotlight:hover{
    background-color: black;
    transition: 0.5s;
}



