

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media only screen and (min-width: 65em){

    nav ul{
        display: flex;
        justify-content: space-around;
    }

    nav ul a{
        padding: 1em;
    }

    .site-purpose, .logo, .domain-name{
        margin: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
        background-color: #00008B;
        border-radius: 10px 10px;
        text-align: center;
    }

    h1{
        font-size: 2rem;
    }
    nav a {
        font-size: 1.1rem;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    h2, p{
        color: white;
    }






}