/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 100%;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/

/*----------- FORM -----------------*/
.reservation-container,.service-container{
    display: grid;
    grid-template-columns: 40% 60%;
}
    
} /* end of media query */