*{
    margin: 0;
    padding: 0;

}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/brazil-temple.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}


/*----------- HEADER --------------*/
.logo{
    width: 50px;
    cursor: pointer;
}
.social-icon{
    width: 30px;
    cursor: pointer;
    margin-right: 40px;
}
h2{
    color: white;
}

/*----------- NAVIGATION --------------*/
.navbar{
    height: 12%;
    display: flex;
    align-items: center;

}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
#currentdate{
    color: #fff;
}
/*----------- MAIN --------------*/
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: white;
    font-size: 12px;
    padding: 12px 0;
    background: black;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;

}
.active{
    background-color: #000;
}
/*----------TEMPLE PAGE-----*/
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url(../images/adelaide_australia_temple.jpeg);
}
.card2{
    background-image: url(../images/kinshasa_temple.jpeg);
}
.card3{
    background-image: url(../images/fresno_temple_lds.jpeg);
}
.card4{
    background-image: url(../images/helsinki_finland_temple_grounds_flowers.jpeg);
}
button:hover{
    background-color: red;
}
.card:hover, nav ul li:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.col{
    text-align: center;
}

.card p{
   text-shadow: 0 0 5px #000;
   font-size: 10px; 
}
.card a{
    color: red;
}
.temple-heading{
    text-align: center;
}


/*----------- FOOTER --------------*/
footer {
    width: 96%;
    background-color: #000;
    padding: .5rem 2%;
    text-align: center;
}
#update {
    color: #fff;
}
footer p{
    font-size: 18px;
    padding-top: 10px;
}

footer h3{
    padding-top: 10px;
    
}
.location{
    display: flex;
    text-align: right;
    color: red;
}



/*-----------RESERVATION FORM/SERVICE FORM--------------*/
form label.sec1 input:required:valid {
    border-left: 10px solid green;
  }
  .serivce-form{
    background-color: #999;
  }

.reservation-container,.serive-container{
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    background-color: #fafafa;
    margin: 50px;
    box-shadow: 10px 15px 20px black;
}
.reservation-time,.service-time{
    background-color: black;
    padding: 80px;
    text-align: center;
}
.heading-special,.heading-amerties{
    color: coral;
}
    
.heading,.heading-servive{
    font-size: 35px;
    text-transform: uppercase;

}

.heading-days,.heading-servive{
    color: crimson;
    font-size: 30px;   
}

.heading-phone{
    font-size: 20px;
}
.reservation-form,.serivce-form{
    padding: 20px 0;
    margin: 0 auto;
    color: black;
}
h2{
    color: black;
}

form{
    display: grid;
    grid-row-gap: 20px;

}
form p{
    font-weight: 600;
    color: black;
}
.form-field{
    display: flex;
    justify-content: space-between;
}
input, select{
    pad: 10px 15px;
}
.btn{
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.message{
    padding-left: 20px; 
}
.reservation-container{
    display: grid;
    grid-template-columns: 1fr;
}

h3{
    color: #fff;
}
