* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	
}

header, footer, h2{
	font-size: 18px;
    font-family: 'Bebas Neue', cursive;
}


header,
footer {
	background-color: #ff8c00;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	padding: 5px 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	margin: 0 auto;
	
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
	
}

footer img {
	width: 150px;
	height: auto;
	
}

.weather img{
	width: 200px;
	height: 170px;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}


.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: black;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-left: 38rem;
	
}

.social svg {
	width: 25px;
	height: auto;
}

.spot1, .spot2, .spot3 {
	border: 2px solid black;
	justify-items: center;
	text-align: center;
}



h1 {
	font-size: 1.1rem;
  text-align: center;
}
h2 {
	color: #536878;
}
.content-footer {
	text-align: center;
	align-items: center;
	display: block;
	margin: 10px;
	padding: 10px;
	margin-top: 20px;

}

.wrap {
	display: grid;
	font-size: 0.8rem;
}
main article {
	margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	padding: 1rem;
	background-color: #eee;	
	
}

p{
	color: black;
	font-size: 15px;
	line-height: 1.2em;
	text-justify: auto;
}


footer p {
	padding: .5rem;
}


a{
    text-decoration: none;
    padding: 1em;
}

.hero img{
	width: 420px;
	height: 380px;
}


nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 1.6rem;
    color: #71b7e6;
}
nav{
    background-color: white;
    border-radius: 0 0 10px 10px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
}

nav ul li.active a{
    background-color: rgba(0, 0, 0, 0.2);
    color: orchid;
}

nav ul li a:hover{
    background-color: black;
    color: white;
}

nav ul{
    display: none;
}

nav ul.open{
    display: block;
}

#hamburgerBtn span:nth-child(1){
    display: block;
}

#hamburgerBtn span:nth-child(2){
    display: none;
}

#hamburgerBtn.open span:nth-child(1){
    display: none;
}

#hamburgerBtn.open span:nth-child(2){
    display: block;
}

.content-main{
    margin: 1rem;
    display: block;
}

.hero:hover, .news:hover, .event:hover, .weather:hover, .join:hover, .spotlight:hover{
    box-shadow: 0 0 50px #333;
    transition: 0.5s;
}


 figure img { 
	width: 250px;
	height: 250px;
	margin: .5rem;
}

.spot1 img, .spot2 img, .spot3 img {
	width: 180px;
	height: 180px;
	margin: .5rem;
}
figcaption {font-size: smaller;}
/* hover effect */
figure img:hover {box-shadow: 0 0 50px #333;}

.container {
	margin: 1rem auto;
	display:grid;
	grid-template-columns: 1fr;
	max-width: 420px;
}	




.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bbb;
	text-align: center;
	
	
}

.menu button {
	padding: 1rem;
}

article,
section {
	margin: 0.75rem;
}

.grid section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #ccc;
	height: 200px;
	width: 190px;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
}

.grid section > * {
	margin: 0.1rem;
}

.list section {
	flex-direction: row;
	justify-content: left;
}

.list section > * {
	margin: 0 1rem;
	text-align: left;
}

.list section img {
	display: none; /* smaller viewports only */
}

section h3 {
	font-size: 1.5rem;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.9rem;
}

img {
	height: 75px;
	max-width: 100%; 
}



form {
	width: 300px;
	margin: 0;
	padding: 0;
}


input {
	
	padding: .5em;
	border: solid 1px #999;
	margin-top: .5em;
}

input[type*"email"], input[type*"text"] {
	
	width: 15em;
}


textarea {
	resize: vertical;
	max-height: 100px;
	padding: .5rem;
	margin-top: .5em;
}

fieldset {
	margin: 2em 0;
	padding: 1em 2em;
	border: solid 1px #ccc;
	border-radius: 6px;
	max-width: 720px;
	
}

legend {
	font-size: 1.25em;
	padding: 0 .25em;
	color: #ccc;
}

.radio {
	display:inline-block;
	padding-top: 0;
	margin-top: 0;
	margin-left: 1.5em;
	margin-right: 0;
}

fieldset button {
	padding: .5em 1em;
	border-radius: 6px;
	background-color: #333;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: .8em;
	margin-top: .8em;
}




.register {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

main, footer, header {
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}



